<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="JPLastroserver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="JPLserverTextKernel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <JPLastroserver.Properties.Settings>
            <setting name="Lat" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="Lon" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="Alt" serializeAs="String">
                <value>0.100</value>
            </setting>
            <setting name="Freq" serializeAs="String">
                <value>8400.1</value>
            </setting>
            <setting name="body" serializeAs="String">
                <value>MOON</value>
            </setting>
        </JPLastroserver.Properties.Settings>
        <JPLserverTextKernel.Properties.Settings>
            <setting name="Lat" serializeAs="String">
                <value>41.57</value>
            </setting>
            <setting name="Lon" serializeAs="String">
                <value>2.01</value>
            </setting>
            <setting name="Alt" serializeAs="String">
                <value>0.300</value>
            </setting>
            <setting name="Freq" serializeAs="String">
                <value>2270.5</value>
            </setting>
            <setting name="body" serializeAs="String">
                <value>MOON</value>
            </setting>
        </JPLserverTextKernel.Properties.Settings>
    </userSettings>
</configuration>
